body{
    background-color: aquamarine;
   }

   .header{
    text-align: center;
    background-color: aquamarine;
    width:100%;
    color: rgb(117, 9, 117);
   }
   
  .field{
    padding: 2%;
    color: #1122a1;
  }
  .btn{
background-color: rgb(149, 20, 178); 
margin: 4%;
margin-left: 2%;
border: 4px solid #65056b;
width: 220px;
 }
 .head{
  font-size: 200%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(74, 7, 136);
 }

 .content h2{
  color: blueviolet;
 }

 .contact h2{
  color: rgb(110, 53, 139);
 }
 .btn:hover{
  background-color: cadetblue;
 }
.circle-img{
  width: 70px; 
  float: left; 
  margin-right: 10px; 
  padding: 1px;
  
  
}
.del-img{
  width:40px;
  float:right;
}
